@model SpEmployeeListsViewModel;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<link href="~/admin/css/EmployeeLists.css" rel="stylesheet" />
@foreach (var item in Model.EmpList)
{
    <tr>
        <td scope="row">@item.UserName</td>
        <td>@item.Email</td>
        <td>@item.DOB?.ToString("dd/MM/yyyy").Replace('-','/')</td>
        <td>
            @{
                if (@item.Gender == 1)
                {
                    <text>Male</text>
                }
                else if (@item.Gender == 2)
                {
                    <text>Frmale</text>
                }
                else
                {
                    <text>Unisex</text>
                }
            }
        </td>
        <td>@item.IsLocked</td>
        <td>
            <a class="p-3">
                <i class="fa-solid fa-eye text-info"></i>
            </a>
            <a class="p-3">
                @{
                    if (item.IsLocked == true)
                    {
                        <i class="fa-solid fa-lock text-danger"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-unlock-keyhole text-success"></i>
                    }
                }
            </a>
            <a class="p-3 text-danger" data-bs-toggle="modal" data-bs-target="#"><i class="fa-sharp fa-solid fa-trash"></i></a>
        </td>
    </tr>

}
