@using EMS.Core.Constants;
@{
    var httpContext = Context.Request.HttpContext;
    var username = httpContext.Session.GetString("AdminUsername");
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/admin/css/Dashboard.css" rel="stylesheet" />
    <link href="~/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/admin/css/Sidemenue.css" rel="stylesheet" />
    <link href="~/admin/css/EmployeeLists.css" rel="stylesheet" />
</head>
<body>
    <div class="skin-blue-black">
        <div class="wrapper">
            <header class="main-header col-lg-12">
                <span class="logo-mid">
                    <img src="/Admin/Images/profile-80.png" />EMS
                </span>
                <div class="fa-solid fa-bars-staggered" id="menu_bar"></div>

                <div class="user-profile me-4">
                    <span>@username<br>Admin</span>
                    <div class="mini-user">
                        <img src="/Admin/Images/tom-hanks.png">
                    </div>
                </div>
            </header>
            <div class="leftMenu">
                <ul class="leftMenuList">
                    <li class="active tooltip_nav point01">
                        <a asp-action="@Actions.Index" asp-controller="@Controllors.Home">
                            <i class="fa fa-dashboard" aria-hidden="true"></i>
                            <span>Dashboard</span>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="tooltip_nav point02">
                        <a asp-action="@Actions.Employee" asp-controller="@Controllors.Home">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span>Employee</span>
                            <p>Employee</p>
                        </a>
                    </li>
                    <li class="tooltip_nav point03">
                        <a href="#">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <span>Companies</span>
                            <p>Companies</p>
                        </a>
                    </li>
                    <li class="tooltip_nav point04">
                        <a href="#">
                            <i class="fa fa-file" aria-hidden="true"></i>
                            <span>Documents</span>
                            <p>Documents</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <!-- Main content -->
                <section class="content">
                    @RenderBody()
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->
            <div class="profile-hover">
                <div class="user-profile-icon">
                    <img src="~/Admin/Images/tom-hanks.png">
                </div>
                <div class="user-profile">
                    <span class="">@username</span><br>
                    <span class="">Admin</span>
                    <a class="text-decoration-none" asp-controller="@Controllors.Account" asp-action="@Actions.Logout"><h1>LogOut</h1></a>
                </div>
            </div>
        </div>
        <div class="popup-overlay"></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/js/BootstrapValidation.js"></script>
    <script src="~/toastr.js/toastr.min.js"></script>
    <script src="~/admin/js/SideMenue.js"></script>
    <script src="~/admin/js/Pagination.js"></script>
    @if (TempData.ContainsKey(ToastrMessages.AdminLoginSuccess))
    {
        <script>
            toastr.options = {
                positionClass: 'toast-top-left'
            };
            toastr.success('@ToastrMessages.AdminLoginSuccess');
        </script>
        @TempData.Remove(ToastrMessages.AdminLoginSuccess)
    }

    @if (TempData.ContainsKey(ToastrMessages.AdminSuccessfullyUpdatedPassword))
    {
        <script>
            toastr.options = {
                positionClass: 'toast-top-left'
            };
            toastr.success('@ToastrMessages.AdminSuccessfullyUpdatedPassword');
        </script>
        TempData.Remove(ToastrMessages.AdminSuccessfullyUpdatedPassword);
    }
    <partial name="_ValidationScriptsPartial" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
