@model AdminUpdatePassword
@using EMS.Core.Constants
@using EMS.Site.Areas.Admin.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    var errorMessage = ViewData.ModelState["NewPassError"]?.Errors.FirstOrDefault()?.ErrorMessage;
    var WrongoldPass = ViewData.ModelState["OldPass"]?.Errors.FirstOrDefault()?.ErrorMessage;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password - EMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Admin/css/Login.css" asp-append-version="true" />
    <link href="~/toastr.js/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="login-page">
                <div class="form">
                    <form class="login-form needs-validation" method="post" asp-action="@Actions.UpdatePass" asp-controller="@Controllors.Account" novalidate>
                        <h2>Update Password</h2>
                        @if (!string.IsNullOrEmpty(errorMessage))
                        {

                            <div class="alert alert-danger fade show" role="alert">@errorMessage</div>
                        }
                        @if (!string.IsNullOrEmpty(WrongoldPass))
                        {

                            <div class="alert alert-danger fade show" role="alert">@WrongoldPass</div>
                        }
                        <div class="form-group">
                            <input asp-for="@Model.OldPassword" class="form-control" value="" required />
                            <label asp-for="@Model.OldPassword" class="form-label"></label>
                            <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.NewPassword" class="form-control" value="" required />
                            <label asp-for="@Model.NewPassword" class="form-label"></label>
                            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.ConfirmNewPassword" class="form-control" value="" required>
                            <label asp-for="@Model.ConfirmNewPassword" class="form-label"></label>
                            <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <button type="submit">Update</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Employee/js/BootstrapValidation.js"></script>
    <script src="~/toastr.js/toastr.min.js"></script>


    @if (TempData.ContainsKey(ToastrMessages.NeedAdminUpdatePass))
    {
        <script>
            toastr.options = {
                positionClass: 'toast-top-left'
            };
            toastr.error('@ToastrMessages.NeedAdminUpdatePass');
        </script>
        TempData.Remove(ToastrMessages.NeedAdminUpdatePass);
    }

    @if (TempData.ContainsKey(ToastrMessages.AdminLoginSuccess))
    {
        <script>
            toastr.options = {
                positionClass: 'toast-top-left'
            };
            toastr.success('@ToastrMessages.AdminLoginSuccess');
        </script>
        @TempData.Remove(ToastrMessages.AdminLoginSuccess)
    }

    <partial name="_ValidationScriptsPartial" />
</body>
</html>
